.customer_page {
    /* background-color: blue; */
    height: 100vh;

}

table {
    width: 80%;
    border-collapse: collapse;
    text-align: left;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}